#header {
    height: 240px;
}

#top {
    /* height: 40px; kick it!*/
    background-color: #F36C68;
}

#top_menu ul {
    float: right;
    margin: 0;
}

#top_menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
}

#top_menu a:hover {
    color: yellow;
}

#top_menu ul:first-child {
    float: left;
}

#top_menu ul li {
   display: block;
   float: left;
   padding-left: 0;
   margin: 10px 20px 10px 5px;
   font-size: 15px;
   font-weight: bold;
}

#pattern {
    height: 200px;
    background: url("../img/pattern.png");
}
#logo {
    height: 200px;
    background: url("../img/logo.png");
}

#navigation {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    /*background-color: #46CDF2;*/
}

#navigation .col-md-4 {
    padding: 3px 3px 3px 0;
}

#navigation ul {
    float: right;
}

#navigation ul li {
    display: block;
    float: left;
    margin-right: 15px;
    line-height: 40px;
    color: #FFFFFF;
}

#navigation a {
    font-weight: bold;
    color: #2219B2;
    text-decoration: none;
}

#footer {
    height: 40px;
    background-color: #3F3A36;
}

/* Klasy */

.footertext {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}

.white, .white a {
  color: #fff;
}

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 11px 27px;
}
.clearCSS *{margin: 0 !important; padding: 0 !important; border: 0 !important;}
.clearDeco{text-decoration: none !important; color: inherit !important;}
.clearDeco *:hover{text-decoration: none !important; color: #fff !important;}
.clearDeco:hover .ad-panel{bottom: 0;}
.fl{float: left;}
.fr{float: right;}
.clf{clear: both;}
.br20{border-radius: 20px;}
.br10{border-radius: 10px;}
.pad20p{padding: 20px;}
.pad10p{padding: 10px;}
.pad5p{padding: 5px;}
.pad3p{padding: 3px;}
.pad2p{padding: 2px;}
.padlr20p{padding: 0 20px;}
.padlr30p{padding: 0 30px;}
.padlr6p{padding: 0 6px;}
.padlr8p{padding: 0 8px !important;}
.mar3{margin:3%;}
.mar5{margin:5%;}
.mar10{margin: 10%;}
.mar6p{margin: 6px !important;}
.mar7p{margin: 7px;}
.mar10p{margin: 10px;}
.mar20p{margin: 20px;}
.martb10p{margin: 10px 0;}
.martb6p{margin: 6px 0 !important;}
.marlr6p{margin: 0 6px !important;}
.mart47p{margin-top: 47px !important;}
.mart120p{margin-top: 120px !important;}
.fw-b{font-weight: bold;}
.fs30p{font-size: 30px;}
.fs50p{font-size: 50px;}
.d-b{display: block;}
.d-i{display: inline;}
.d-ib{display: inline-block;}
.d-n{display: none;}
.p-f{position: fixed;}
.p-r{position: relative;}
.p-a{position: absolute;}
.bgo{background: url('../img/single-overlay.png') no-repeat center center;}
.bg-c1{background-color: #fff6cb;}
.bg-c2{background-color: #ffce87;}
.bg-c3{background-color: #dc714f;}
.bg-c4{background-color: #b4461b;}
.bg-c5{background-color: #73af90;}
.bg-c6{background-color: #7392af;}
.bg-0{background-color: #000;}
.bg-r3,
.hbgr3:hover{background-color: #b2b2b2; background-color: rgba(0,0,0,.3);}
.bg-r6{background-color: rgba(0,0,0,.6);}
.bs5{box-shadow: 1px 1px 5px #000;}
.fs20p{font-size: 20px;}
.fc-f{color: #fff;}
.vam{vertical-align: middle;}
.lhi{line-height: inherit;}
.oh{overflow: hidden;}
.h100{height: 100%;}
.h250p{height: 250px;}
.h360p{height: 360px;}
.h540p{height: 540px;}
.w0{width: 0;}
.w27{width: 27%;}
.w40{width: 40%;}
.w100{width: 100%;}
.l0{left:0;}
.t0{top:0;}
.t10{top:10%;}
.b-100{bottom: -100%;}
.b0{bottom: 0;}
.b3psr3{border:3px solid #7c7c7c; border:3px solid rgba(0,0,0,.3);}
.an{transition:bottom .35s; -o-transition:bottom .35s; -ms-transition:bottom .35s; -moz-transition:bottom .35s; -webkit-transition:bottom .35s;}
.ta-c{text-align: center;}
.o8{opacity: .8; filter:alpha(opacity=80);}
.o2{opacity: .2; filter:alpha(opacity=20);}
.wnw{white-space: nowrap;}
.c-a0 + a{
    transition:width .35s; -o-transition:width .35s; -ms-transition:width .35s; -moz-transition:width .35s; -webkit-transition:width .35s;
    animation:an0 5s;
    -webkit-animation:an0 5s;
}
.c-a0:hover + a{width: 100%;}
@keyframes an0
{
0% {width:0}
1% {width:100%}
99% {width:100%}
100% {width:0}
}

@-webkit-keyframes an0 
{
0% {width:0}
1% {width:100%}
99% {width:100%}
100% {width:0}
}