#header {
    height: 240px;
}

#top {
    height: 40px;
    background-color: #F36C68;
}

#top_menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
}

#top_menu a:hover {
    color: yellow;
}

#top_menu ul li {
   display: block;
   float: right;
   padding-left: 0;
   margin: 10px 30px 10px 10px;
   font-size: 15px;
   font-weight: bold;
}

#pattern {
    height: 200px;
    background: url("../img/pattern.png");
}
#logo {
    height: 200px;
    background: url("../img/logo.png");
}

#navigation {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #46CDF2;*/
}

#navigation .col-md-4 {
    padding: 3px 3px 3px 0;
}

#footer {
    height: 40px;
    background-color: #3F3A36;
}

/* Klasy */

.footertext {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}

.white, .white a {
  color: #fff;
}

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 11px 27px;
}

.br20{border-radius: 20px;}
.br10{border-radius: 10px;}
.pad20p{padding: 20px;}
.pad10p{padding: 10px;}
.padlr20p{padding: 0 20px;}
.mar10p{margin: 10px;}
.mar20p{margin: 20px;}
.martb10p{margin: 10px 0;}
.fw-b{font-weight: bold;}
.d-b{display: block;}
.d-i{display: inline;}
.d-ib{display: inline-block;}
.d-n{display: none;}
.p-f{position: fixed;}
.p-r{position: relative;}
.p-a{position: absolute;}
.bg-c1{background-color: #fff6cb;}
.bg-c2{background-color: #ffce87;}
.bg-c3{background-color: #dc714f;}
.bg-c4{background-color: #b4461b;}
.bg-c5{background-color: #73af90;}
.bg-c6{background-color: #7392af;}
.bs5{box-shadow: 1px 1px 5px #000;}
.fs20p{font-size: 20px;}
