/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-03-29, 20:03:36
    Author     : Kamil Kuliński
*/
/* SIMPLE CSS RESET */
body,
div,
h1{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    color: #000;
    display: block;
    font-size: 135%;
}
p,
.s1{
    margin:1% 1%;
    box-shadow: .04em .04em .13em #000;
    padding: 1% 2%;
    border-radius: .3em;
    background-color: rgba(255,255,255,0.6);
}
.w100{width:100%;}
.h100{height: 100%;}
.pad20p{padding: 20px;}
.fs75em{font-size: .75em;}
.fs5em{font-size: .5em;}
.marlr1{margin: 0 1%;}
.bg-c0{background-color: #fffdbc;}
.bg-c1{background-color: #7392af;}
.bg-c2{background-color: #ceecf2;}
.bg-c3{background-color: #77bdd9;}
.bg-c4{background-color: #ecffda;}
.bg-c5{background-color: #fdfff5;}
.bg-c6{background-color: #deffda;}
.bg-c7{background-color: #ff9a8e;}
.bg-c8{background-color: #ffbcb4;}
.bg-c9{background-color: #ffe3e0;}
.oh{overflow: hidden;}
.mh98{max-height: 98%; min-height: 98%;}
.mw98{max-width: 98%; min-width: 98%}
.mh100{max-height: 100%; min-height: 100%;}
.mw100{max-width: 100%; min-width: 100%;}
.p-a{position: absolute;}