/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-03-29, 20:03:36
    Author     : Kamil Kuliński
*/

.slide > div{
    box-shadow: 5px 3px 10px rgba(0,0,0,0.5);
}
.slide{
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    padding: 40px;
    background-color: #fff;
}
.slide .content img{
    max-height: 80%;
    max-width: 80%;
    display: inline;
    width:auto;
}
.slide .content{
    position: absolute;
    left:25px;
    top:100px;
    bottom: 68px;
    right:25px;
    overflow: hidden;
}
.slide-info{
    position: absolute;
    bottom: 0;
}

h1{
    position: absolute
}

.w100{width:100%;}
.h100{height: 100%;}
.pad20p{padding: 20px;}
.fs75em{font-size: .75em;}
.fs5em{font-size: .5em;}
.marlr1{margin: 0 1%;}
.oh{overflow: hidden;}
.mh98{max-height: 98%; min-height: 98%;}
.mw98{max-width: 98%; min-width: 98%}
.mh100{max-height: 100%; min-height: 100%;}
.mw100{max-width: 100%; min-width: 100%;}
.p-a{position: absolute;}
.bgo{background-image: url('../img/overlay.png'); background-repeat: no-repeat; background-size: 100% 100%;}